* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.icon-fb {
  background-color: blue;
  width: 2rem;
  padding: 0.5rem;
}

.icon-tw {
  background-color: skyblue;
  width: 2rem;
  padding: 0.5rem;
}

.icon-ig {
  background-color: violet;
  width: 2rem;
  padding: 0.5rem;
}

.icon-tk {
  background-color: purple;
  width: 2rem;
  padding: 0.5rem;
}

.icon-kw {
  background-color: orange;
  width: 2rem;
  padding: 0.5rem;
}

.ubi-gu {
  background-color: green;
}

.ubi-lh {
  background-color: yellow;
}

.ubi-gc {
  background-color: blue;
}

.ubi-lv {
  background-color: red;
}

.contenedorPantalla {
  display: grid;
  background-color: #571110;
  grid-template-areas: "nav nav nav" "section section section" "article article aside" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.contenedorPantallaPages {
  display: grid;
  background-color: #571110;
  grid-template-areas: "nav nav nav" "section section section" "article article article" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

header {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(#9E4A49, #571110);
  color: white;
  grid-area: header;
}
header a {
  text-decoration: none;
  color: white;
}

.navbar.navbar-expand-lg.bg-light {
  display: flex;
  justify-content: center;
  padding: 2% 5%;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

nav.navbar {
  background: linear-gradient(#9E4A49, #571110);
  color: white;
  grid-area: nav;
  display: grid;
  align-items: flex-end;
}
nav.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav.navbar li a {
  text-decoration: none;
  background-color: #522626;
  color: white;
  padding: 2vh 2vw;
  transition: all 1s;
}
nav.navbar li a:hover {
  background-color: #D9A6A5;
}

.navegador {
  background: linear-gradient(#9E4A49, #571110);
  color: white;
  grid-area: nav;
  display: grid;
  align-items: center;
  align-content: center;
}
.navegador ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navegador ul li a {
  text-decoration: none;
  background-color: #571110;
  color: white;
  padding: 2vh 2vw;
  transition: all 1s;
}
.navegador ul li a:hover {
  background-color: #D9A6A5;
}

section {
  background-image: url(../assets/img/principal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-style: italic;
  background-color: #571110;
  color: white;
  grid-area: section;
  padding: 5% 0;
}

article {
  background-color: #571110;
  grid-area: article;
}
article .subtitulo {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin: 5px;
  color: white;
}
article .card {
  height: 100%;
}

aside {
  background-color: #571110;
  color: white;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh 0;
}
aside h3 {
  color: white;
  font-size: x-large;
  padding-bottom: 2%;
}
aside iframe {
  width: 100%;
  height: 50%;
}
aside .horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside h3 {
  text-decoration: underline;
  font-style: italic;
}
aside .pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside h3 {
  text-decoration: underline;
  font-style: italic;
}

footer {
  background: linear-gradient(#571110, #9E4A49);
  color: white;
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pieDePag {
  width: 20%;
  display: flex;
  text-align: center;
  align-items: center;
}

.navegador2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navegador2 ul li a {
  text-decoration: none;
  background-color: #571110;
  color: white;
  border-radius: 20%;
  transition: all 1s;
}
.navegador2 ul li a:hover {
  background-color: #D9A6A5;
}

.conozcanos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactenos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contactenos ul {
  list-style: none;
}
.contactenos ul li a {
  text-decoration: none;
}

.fotoLocales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 5px;
  margin: 5px;
}
.fotoLocales img:nth-child(1) {
  width: 100%;
  grid-column: 1/4;
}
.fotoLocales img:nth-child(2) {
  width: 100%;
  grid-row: 2/4;
}

.carrusel {
  width: 95%;
  margin: 1rem auto;
}

.ubicaciones {
  color: white;
  text-align: center;
}

.carnicerias {
  width: 100vw;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.carnicerias div {
  width: 30%;
  height: auto;
}
.carnicerias div iframe {
  width: 100%;
}

.pageContacto {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 3%;
  gap: 3%;
  justify-content: space-around;
}
.pageContacto .formasContacto, .pageContacto .formulario {
  border: solid 0.1rem black;
  border-radius: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}
.pageContacto .formasContacto:hover, .pageContacto .formulario:hover {
  background-color: #9E4A49;
  transition: all 1s;
}
.familia {
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;
  text-align: center;
}
.familia .tituloFamilia {
  color: #9E4A49;
}
.familia .subtituloFamilia {
  text-decoration: underline;
  color: white;
}
.familia p {
  color: white;
}

.articuloProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.articuloProductos .productos {
  color: white;
}

main a.boton {
  display: inline-block;
  padding: 0.5rem;
  background-color: #D9A6A5;
  border: solid black;
  text-decoration: none;
  color: white;
}

@media (max-width: 844px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedorPantalla {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  nav {
    display: flex;
    justify-content: center;
    font-size: x-small;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  article .ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article .ofertas .oferta {
    width: 60%;
  }
  article .ofertas img {
    width: 100%;
  }
  aside {
    display: none;
  }
  section {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .pieDePag, footer .navegador2 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */